charset-normalizer=2.0.4
click=8.0.4
colorama=0.4.6
cuda-cccl=12.2.53
cuda-cudart=11.8.89
cuda-cudart-dev=11.8.89
cuda-cupti=11.8.87
cuda-libraries=11.8.0
cuda-libraries-dev=11.8.0
cuda-nvrtc=11.8.89
cuda-nvrtc-dev=11.8.89
cuda-nvtx=11.8.86
cuda-profiler-api=12.2.53
cuda-runtime=11.8.0
flask=2.2.2
itsdangerous=2.0.1
jinja2=3.1.2
joblib=1.2.0
matplotlib=3.7.1
matplotlib-base=3.7.1
numexpr=2.8.4
numpy=1.25.0
numpy-base=1.25.0
pandas=1.5.3
pillow=9.4.0
pip=23.1.2
ply=3.11
python=3.9.17
python-dateutil=2.8.2
python_abi=3.9
pytorch=2.0.1
pytorch-cuda=11.8
pytorch-lightning=2.0.4
pytorch-model-summary=0.1.1
pytorch-mutex=1.0
torchaudio=2.0.2
torchmetrics=0.11.4
torchsummary=1.5.1
torchvision=0.15.2
tornado=6.2
werkzeug=2.2.3
wtforms=2.3.3
yaml=0.2.5